.cover__title{
  margin:0;
  max-width:560px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fff;
  margin-top: 21%;
  z-index:1;
}

@media screen and (max-width:1024px){
  .cover__title{
    margin-top: 20%;
  }
}

@media screen and (max-width:768px){
  .cover__title{
    margin-top: 15%;
  }
}

@media screen and (max-width:500px){
  .cover__title{
    font-size:32px;
    line-height:1.09;
    margin-top: 11%;
    max-width: 244px;
  }
}
