@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer{
  display: flex;
  justify-content: space-between;
  padding: 95px 0 22px;
}

@media screen and (max-width:1024px){
  .footer{
    padding-top:100px;
  }
}

@media screen and (max-width:768px){
  .footer{
    padding-top:89px;
  }
}

@media screen and (max-width:600px){
  .footer{
    flex-direction: column;
    padding-top: 67px;
  }
}
